@import './styles/button';
@import './styles/buttonpanel';
@import './styles/display';
@import './styles/navbar';
@import './styles/home';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.calculator{
  height: calc(100vh - 4.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
}